node_modules
/NewFolder/Funk_prog_v03_01/nbproject/private/
/NewFolder/Funk_prog_v03_01/build/
/nbproject/private/
/v03_01/dist/
/v03_02/nbproject/private/
/v03_02/build/
/v04_01/nbproject/private/
/v04_01/build/
/v04_01/dist/
/v04_02/nbproject/private/
/v04_02/build/
/v04_02/Teht1/build/
/v04_02/Teht2/nbproject/private/
/v04_02/Teht2/build/
/v04_02/Teht3/nbproject/private/
/v04_02/Teht3/build/
/v04_02/Teht4/nbproject/private/
/v04_02/Teht4/build/
/v04_02/Teht5/nbproject/private/
/v04_02/Teht6/nbproject/private/
/v04_02/Teht6/build/